<h1>{{ gamename }}</h1>
<div class="game">
  <div class="draft">
    <div class="blue">
      <div class="team__name">
        <h2>{{ bluename }}</h2>
      </div>
      <div
        class="pick"
        *ngFor="let pick of listBluePick"
        [class.actualPick]="pick.actualPick"
      >
        <img [src]="pick.img" alt="img" />
        <p>{{ pick.name }}</p>
      </div>
    </div>
    <div class="champSelect">
      <div class="search">
        <div class="role">
          <input type="checkbox" id="top" name="role" value="top" />
          <label for="top"
            ><img src="../../assets/img/game/role/Top_icon.webp"
          /></label>
          <input type="checkbox" id="jgl" name="role" value="jgl" />
          <label for="jgl"
            ><img src="../../assets/img/game/role/Jungle_icon.webp"
          /></label>
          <input type="checkbox" id="mid" name="role" value="mid" />
          <label for="mid"
            ><img src="../../assets/img/game/role/Middle_icon.webp"
          /></label>
          <input type="checkbox" id="adc" name="role" value="adc" />
          <label for="adc"
            ><img src="../../assets/img/game/role/Bottom_icon.webp"
          /></label>
          <input type="checkbox" id="sup" name="role" value="sup" />
          <label for="sup"
            ><img src="../../assets/img/game/role/Support_icon.webp"
          /></label>
        </div>
        <div class="search__bar">
          <input type="text" placeholder="Search" />
        </div>
      </div>
      <div class="champions">
        <div
          class="champ"
          *ngFor="let champ of champions"
          (click)="champ.open && started && actualChamp(champ)"
          [class.selected]="champ.id === actualChampion.id"
        >
          <img
            [src]="champ.img"
            alt="champ"
            [class.disabled]="champ.open === false || !started"
            [class.locked]="champ.id === actualChampion.id"
          />
        </div>
      </div>
    </div>
    <div class="red">
      <div class="team__name">
        <h2>{{ redname }}</h2>
      </div>
      <div
        class="pick"
        *ngFor="let pick of listRedPick"
        [class.actualPick]="pick.actualPick"
      >
        <p>{{ pick.name }}</p>
        <img [src]="pick.img" alt="img" />
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="blue__ban">
      <div class="ban" *ngFor="let ban of listBlueBan">
        <img [src]="ban.img" alt="ban" [class.actualBan]="ban.actualBan" />
      </div>
    </div>
    <div class="buttons">
      <div class="started" *ngIf="started">
        <button
          class="lock__in"
          *ngIf="picking"
          (click)="pickChampion()"
          [disabled]="actualChampion.id === 0"
        >
          Lock-in
        </button>
        <button
          class="ban__button"
          *ngIf="!picking"
          (click)="banChampion()"
          [disabled]="actualChampion.id === 0"
        >
          Ban
        </button>
      </div>
      <button class="reset" (click)="reset()">Reset</button>
      <div class="notStarted" *ngIf="!started">
        <button (click)="startGame()" *ngIf="!started" class="start">
          Start Game
        </button>
      </div>
    </div>
    <div class="red__ban">
      <div class="ban" *ngFor="let ban of listRedBan">
        <img [src]="ban.img" alt="ban" [class.actualBan]="ban.actualBan" />
      </div>
    </div>
  </div>
</div>
