@import "../variables";

h1 {
  text-align: center;
  font-size: 3rem;
  color: $gold;
  margin: 2rem 0;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .draft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    @media screen and (max-width: 320px) {
      flex-direction: column;
    }

    .blue,
    .red {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      @media screen and (max-width: 320px) {
        width: 100%;
      }

      .team__name {
        font-size: 2rem;
        text-align: center;
        width: 16rem;
        background-color: $blue;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.2rem;
          height: 0.2rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $gold;
        }

        @media screen and (max-width: $tablet) {
          width: 10rem;
          font-size: 1.5rem;
        }

        @media screen and (max-width: $mobile) {
          width: 6rem;
          font-size: 1rem;
        }

        @media screen and (max-width: 320px) {
          width: 100%;
        }
      }

      .pick {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-top: 0.1rem solid $gold;
        border-bottom: 0.1rem solid $gold;
        height: 8rem;
        @media screen and (max-width: $tablet) {
          height: 5rem;
        }

        img {
          position: relative;
          width: 5rem;
          height: 5rem;
          padding: 0.2rem;
          border: 1px solid $gold;
          border-radius: 50%;
          background-color: $blue;
          margin-left: 1rem;

          @media screen and (max-width: $tablet) {
            width: 3rem;
            height: 3rem;
          }
        }

        p {
          font-size: 1.5rem;
          margin-left: 1rem;

          @media screen and (max-width: $tablet) {
            display: none;
          }

          @media screen and (max-width: $mobile) {
            display: flex;
          }
        }

        .timer {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.5rem;

          @media screen and (max-width: $mobile) {
            display: none;
          }

          &::before {
            //does an arrow to the left with annimation change background color
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 0.5rem solid transparent;
            border-bottom: 0.5rem solid transparent;
            border-right: 0.5rem solid $gold;
            margin-right: 0.5rem;
            animation: arrow 5s infinite;

            @keyframes arrow {
              0% {
                border-right: 0.5rem solid $gold;
              }
              50% {
                border-right: 0.5rem solid $blueLighted;
              }
              100% {
                border-right: 0.5rem solid $gold;
              }
            }
          }
        }
      }

      .actualPick {
        //does animation background color change
        background-color: $black;
        animation: changeColorPick 2s infinite;

        @keyframes changeColorPick {
          0% {
            background-color: $black;
          }
          50% {
            background-color: $gold;
          }
          100% {
            background-color: $black;
          }
        }
      }
    }

    .first__pick {
      margin-bottom: 5rem;
    }

    .red {
      .team__name {
        background-color: $redLight;
      }
      .pick {
        justify-content: flex-end;
      }
      .pick img {
        background-color: $redLight;
        margin-right: 1rem;
        margin-left: 0rem;
      }

      .pick p {
        margin-right: 1rem;
        margin-left: 0rem;
      }
    }

    .champSelect {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 2rem;

      .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 95%;

        @media screen and (max-width: $desktop) {
          flex-direction: column;
        }

        .role {
          input {
            display: none;
          }

          label img {
            width: 3rem;
            height: 3rem;

            @media screen and (max-width: $desktop) {
              width: 2rem;
              height: 2rem;
            }

            @media screen and (max-width: $mobile) {
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          label:hover img {
            cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png),
              auto;
            filter: drop-shadow(0 0 10px $gold);
          }

          input:checked + label img {
            filter: drop-shadow(0 0 10px $white);
          }

          label img {
            margin: 0.5rem;
          }
        }

        .search__bar {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 400px;
          height: 4rem;
          border: 0.1rem solid $gold;
          border-radius: 0.5rem;
          background: $black;
          color: $white;

          @media screen and (max-width: $desktop) {
            width: 85%;
            margin-top: 1rem;
          }

          @media screen and (max-width: $mobile) {
            width: 95%;
            height: 3rem;
          }

          input {
            width: 100%;
            height: 100%;
            font-size: 2rem;
            padding: 0.5rem;
            border: none;
            background: $black;
            color: $white;
            &:focus-visible {
              outline: none;
            }

            @media screen and (max-width: $mobile) {
              font-size: 1.2rem;
            }
          }

          img {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
          }
        }
      }

      .champions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        width: 100%;
        margin: 2rem auto;
        overflow-y: auto;
        overflow-x: hidden;
        height: 60vh;
        margin-left: -0.5rem;

        @media screen and (max-width: $tablet) {
          height: 50vh;
        }

        @media screen and (max-width: $mobile) {
          height: 40vh;
        }

        &::-webkit-scrollbar {
          width: 0.2rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $gold;
        }

        .divChamp {
          max-height: 11rem;

          @media screen and (max-width: $mobile) {
            width: 4rem;
            margin: 0rem;
          }
          .champ {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $black;
            color: $white;
            width: 100%;
            margin: 0.5rem;

            @media screen and (max-width: $tablet) {
              margin: 0rem;
            }

            img {
              cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png),
                auto;
              width: 10rem;
              height: 10rem;
              margin-top: 0.5rem;
              &:hover {
                filter: drop-shadow(0 0 10px $gold);
              }

              @media screen and (max-width: $tablet) {
                width: 100%;
                height: 100%;
                max-width: 10rem;
              }
            }

            .disabled {
              filter: grayscale(100%);
              &:hover {
                filter: grayscale(100%) drop-shadow(0 0 10px $red);
              }
            }

            .locked {
              filter: drop-shadow(0 0 10px $white);
            }
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    align-items: flex-start;

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      .reset {
        position: absolute;
        right: 0;
        top: 0;
        margin: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: $black;
        color: $white;
        font-size: 1.5rem;
        cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png),
          auto;
        border: 0.1rem solid $gold;

        &:hover {
          background-color: $gold;
        }
      }

      .started,
      .notStarted {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 5.2rem;
        margin-top: 5rem;
        border: #a07a2e 0.1rem solid;
        padding: 0.5rem;
        border-radius: 5rem 0 0 5rem;
        background: #03111a;
        .lock__in,
        .ban__button,
        .start {
          width: 100%;
          position: relative;
          height: 4rem;
          font-size: 1.6rem;
          border: 0.2rem solid $blueLighted;
          background: $blue;
          color: $white;
          font-weight: bold;
          z-index: 1;
          border-radius: 5rem 0 0 5rem;
          &:hover {
            background: $blueLighted;
            color: $black;
          }

          &:disabled {
            background: $black;
            color: $white;
            cursor: not-allowed;
          }
        }

        .ban__button {
          border: 0.2rem solid $redLighted;
          background: $red;

          &:hover {
            background: $red;
            color: $white;
          }

          &:disabled {
            background: $black;
            color: $white;
            cursor: not-allowed;
          }
        }
      }
    }

    .blue__ban,
    .red__ban {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: $white;
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;

      @media screen and (max-width: $desktop) {
        flex-wrap: nowrap;
        flex-direction: column;
      }

      .ban {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 10rem;

        border: 1px solid $gold;
        background-color: $black;

        @media screen and (max-width: $desktop) {
          margin-bottom: 1rem;
          height: 100%;
        }

        img {
          position: relative;
          width: 10rem;
          height: 10rem;
          padding: 0.2rem;
          max-width: 12.4rem;

          @media screen and (max-width: $desktop) {
            width: 100%;
            height: 100%;
          }
        }

        .actualBan {
          opacity: 1;
          animation: changeOpacity 5s infinite;

          @keyframes changeOpacity {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0.3;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }

      .first__ban {
        display: flex;
        flex-direction: row;
        margin-right: 5rem;
        @media screen and (max-width: 1800px) {
          margin-right: 0;
        }

        @media screen and (max-width: $desktop) {
          flex-direction: column;
          margin-bottom: 2rem;
        }
      }

      .last__ban {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $tablet) {
          flex-direction: column;
        }
      }
    }
  }
}
