$orange: #ed5e3a;
$orangeDarked: #d7350c;
$gold: #a07a2e;

$blue: #12384b;
$blueLight: #08ab9f;
$blueLighted: #9bf7ef;

$red: #4b2512;
$redLight: #ab0814;
$redLighted: #f79ba3;

$black: #03111a;
$white: #f6f6f6;
$gray: #eaeaea;

$desktop: 1024px;
$tablet: 768px;
$mobile: 425px;
