@import "..//src/app/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Beaufort for LOL", sans-serif;
  cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor.png),
    auto;
}

input:hover,
label:hover,
button:hover {
  cursor: url(https://brand.riotgames.com/images/league-of-legends/cursor-pointer.png),
    auto;
}

.btn-primary {
  align-self: center;
  text-align: center;
  width: 27rem;
  height: 6rem;
  line-height: 6rem;
  background-color: transparent;
  outline: transparent;
  border-bottom: 6rem solid #ff9300;
  border-left: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
  height: 0;
  color: #000;
  border-top: 0rem;
  font-size: 1.6rem;

  &:hover {
    border-bottom: 6rem solid #ebca9c;
    color: #fff;
  }

  @media screen and (max-width: $mobile) {
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
  }
}

html {
  font-size: 62.5%;
} // 1rem = 10px

body {
  background-color: $black;
  color: $white;
}
.small {
  font-size: 0.8rem;
  color: $black;
  line-height: 16px;
}
.unstyle-text {
  color: $white;
  text-decoration: none;
}

.container-component {
  margin: 0 2rem;
}
