<form>
  <h1>Nianoute League of legends Draft.io</h1>
  <img src="assets/img/logo.png" alt="logo" class="logo" />
  <div class="form-group">
    <label for="gamename">Game Name</label>
    <input
      type="text"
      class="form-control"
      id="gamename"
      name="gamename"
      [(ngModel)]="gamename"
      [ngModelOptions]="{ standalone: true }"
      required
    />
  </div>
  <div class="form-group">
    <label for="bluename">Blue Team Name</label>
    <input
      type="text"
      class="blue"
      id="bluename"
      name="bluename"
      [(ngModel)]="bluename"
      [ngModelOptions]="{ standalone: true }"
      required
    />
  </div>
  <div class="form-group">
    <label for="redname">Red Team Name</label>
    <input
      type="text"
      class="red"
      id="redname"
      name="redname"
      [(ngModel)]="redname"
      [ngModelOptions]="{ standalone: true }"
      required
    />
  </div>
  <div class="all__btn">
    <div class="btn__cancel">X</div>
    <div class="btn__group">
      <!-- <div class="btn__before"></div> -->
      <button type="submit" class="btn" (click)="createGame()">
        CREATE GAME
      </button>
      <!-- <div class="btn__after"></div> -->
    </div>
  </div>
</form>
